#construction-warning {
  color: var(--p-lightest);
  background-color: var(--p-darker);
  font-style: italic;
  text-align: center;
  margin: 5em;
  padding: 2em;

  max-width: 25vw;

  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 4em;
}

#construction-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#construction-text h3 {
  text-decoration: underline;
  margin: 0%;
}

#construction-text p {
  margin: 0%;
}

#construction-icon {
  width: 400px;
  height: auto;
}

#construction-icon img {
  max-width: 100%;
  height: auto;
  display: block;
}
