:root {
  --p-darkest: #131316;
  --p-darker: #2e2f3b;
  --p-dark: #4f5164;
  --p-mid: #9a8c98;
  --p-light: #c9ada7;
  --p-lightest: #f2e9e9;

  color: var(--p-darkest);
  background-color: var(--p-lightest);
  font-family: "Epunda Slab", serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 20em;
  align-items: center;
  justify-content: center;
}

#frame {
  min-width: 50vw;
  /* width: 70%; */
  /* height: 50vh; */
}

main {
  color: var(--p-darker);
  padding: 2em;
}
