:root {
  --primary-bg-color: #f2e9e4;
  --secondary-bg-color: #212131;

  --primary-text-color: #212131;
  --secondary-text-color: #f2e9e9;
  --tertiary-text-color: #4a4e69;

  --primary-accent-color: #c9ada7;
  --secondary-accent-color: #9a8c98;

  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: "Epunda Slab", serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 97vh;
  width: 97vw;
}

#title {
  display: flex;
  align-items: center;
  column-gap: 6vw;
}

#title header {
  background: linear-gradient(
    var(--primary-text-color),
    var(--primary-bg-color) 92%
  );
  background-clip: text;
  color: transparent;
}

#title h1 {
  margin: 0px;
  min-width: 6em;
}

#main-menu nav {
  display: flex;
  flex-direction: column-reverse;
}

footer {
  /* background-color: var(--secondary-bg-color); */
  color: var(--tertiary-text-color);
  padding: 0px;
  margin: 0px;
  font-style: italic;
}

a {
  background-color: var(--secondary-bg-color);
  color: var(--secondary-text-color);
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;

  min-width: 6em;
  padding: 10px;
  margin: 4px;

  transition-property: background-color, color, transform;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);

  display: flex;
  flex-direction: row-reverse;
}

a:hover {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  transform: scale(1.4);
}
