:root {
  --p-darkest: #131316;
  --p-darker: #2e2f3b;
  --p-dark: #4f5164;
  --p-mid: #9a8c98;
  --p-light: #c9ada7;
  --p-lightest: #f2e9e9;

  color: var(--p-darkest);
  background-color: var(--p-lightest);
  font-family: "Epunda Slab", serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 97vh;
  width: 97vw;
}

#title {
  display: flex;
  align-items: center;
  column-gap: 6vw;
}

#title header {
  background: linear-gradient(var(--p-darkest),
      var(--p-lightest) 92%);
  background-clip: text;
  color: transparent;
}

#title h1 {
  margin: 0px;
  min-width: 6em;
}

footer {
  color: var(--p-dark);
  padding: 0px;
  margin: 0px;
  font-style: italic;
}

#main-menu nav {
  display: flex;
  flex-direction: column-reverse;
}

nav a {
  animation: 0.6s cubic-bezier(0.25, 1, 0.5, 1) reveal-button;

  background-image: linear-gradient(to left,
      var(--p-darkest) 101%,
      var(--p-lightest) 101%);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 100%;

  color: var(--p-lightest);
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;

  min-width: 6em;
  padding: 10px;
  margin: 4px;

  transition-property: color, transform, background-size;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);

  display: flex;
  flex-direction: row-reverse;
}

nav a:hover {
  background-size: 5%;
  transform: scale(1.4);
  color: var(--p-darkest);
}

@keyframes reveal-button {
  0% {
    background-size: 0%;
  }

  100% {
    background-size: 100%;
  }
}
