:root {
  --primary-bg-color: #eae5cc;
  --secondary-bg-color: #1f1c0d;

  --primary-text-color: #221d1b;
  --secondary-text-color: #eae5cc;

  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: 'Epunda Slab', serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 97vh;
  width: 97vw;
}

#title {
  display: flex;
  align-items: center;
  column-gap: 6vw;
}

#title header {
  background: linear-gradient(var(--primary-text-color),
      var(--primary-bg-color) 91%);
  background-clip: text;
  color: transparent;
}

#title h1 {
  margin: 0px;
  min-width: 6em;
}

#about {
  display: none;
  text-align: center;
  background-color: var(--secondary-bg-color);
  color: var(--secondary-text-color);
  padding: 2em;
}

#about p {
  font-size: 1.1em;
  font-weight: 500;
}

#main-menu nav {
  display: flex;
  flex-direction: column-reverse;
}

footer h3 {
  /* background-color: var(--secondary-bg-color); */
  /* color: var(--secondary-text-color); */
  padding-top: 15px;
  margin-top: 5px;
  font-style: italic;
}

a {
  background-color: var(--secondary-bg-color);
  color: var(--secondary-text-color);
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;

  min-width: 6em;
  padding: 10px;
  margin: 4px;

  transition-property: background-color, color, transform;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);

  display: flex;
  flex-direction: row-reverse;
}

a:hover {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  transform: scale(1.4);
}
